<div>
  <p>Zach Briggs, </p>
  <p>in Rails,    </p>
  <p>with         </p>
</div>

<div class="indent1">
  <p>Machine    </p>
</div>

<div class="indent2">
  <p>Learning   </p>
</div>

<div class="byline">
  <p>True story. </p>
</div>
